.container {
  margin: 0 auto;
  padding-inline: 20px;
  max-width: 767px;

  @include onTablet {
    max-width: 1023px;
  }

  @include onDesktop {
    max-width: 1200px;
    padding-inline: 80px;
  }

  @include onLargeScreen {
    max-width: 1441px;
  }
}