.product {
  margin-top: 62px;
  &__title {
    font-family: $mainFont;
    font-weight: 400;
    font-size: 28px;
    line-height: 20px;
    color: #ffffff;
    position: relative;
    margin-bottom: 40px;


    &:before {
      position: absolute;
      content: "";
      width: 8px;
      height: 35px;
      border-radius: 50px;
      background-color: #26FFF2;
      left: -15px;
      top: -5px;
    }
  }

  &__items {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include onLargeScreen {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &__item {
    border-radius: 35px;
    @include onDesktop {
      width: 205px;
      height: auto;
      border-radius: 35px;
    }
    
  }
}